<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cao.stock.persistence.InStockMapper">

	<!-- cache / -->

	<select id="listAllInStocks" parameterType="com.cao.stock.domain.QueryParameter"  resultType="InStock">
		SELECT
			i.ID,i.order_id as orderId, i.create_date as createDate, i.modify_date as modifyDate, i.stock,i.number,
			i.remainder_number as remainderNumber,i.WORTH,i.status,i.staff
		FROM 
			IN_STOCK i  
		WHERE 
			i.status!='off'
			<if test="beginTime!=null ">
		 		<![CDATA[  and i.create_date>= #{beginTime} ]]>
		 	</if>
		 	<if test="endTime!=null ">
		 		<![CDATA[  and  i.create_date<= #{endTime}  ]]>
		 	</if>
		 	<if test="stock!=null ">
		 		  and i.stock=#{stock} 
		 	</if>
		 	<if test="start>=0 and limit>=0">
		 		  limit  #{start}, #{limit}
		 	</if>
	</select>

	<select id="countAllInStocks" parameterType="com.cao.stock.domain.QueryParameter"  resultType="integer">
		SELECT
			count(*)
		FROM 
			IN_STOCK i  
		WHERE 
			i.status!='off'
			<if test="beginTime!=null ">
		 		<![CDATA[  and i.create_date>= #{beginTime} ]]>
		 	</if>
		 	<if test="endTime!=null ">
		 		<![CDATA[  and  i.create_date<= #{endTime}  ]]>
		 	</if>
		 	<if test="stock!=null ">
		 		  and i.stock=#{stock} 
		 	</if>
		 	<if test="start>=0 and limit>=0">
		 		  limit  #{start}, #{limit}
		 	</if>
	</select>
	
	<select id="listAllInStocksByStock" parameterType="integer"  resultType="InStock">
		SELECT
			i.ID,i.order_id as orderId,i.create_date as createDate, i.modify_date as modifyDate, i.stock,i.number,
			i.remainder_number as remainderNumber,i.WORTH,i.status,i.staff
		FROM 
			IN_STOCK i
		WHERE 
			i.status!='off' and i.stock = #{stockId} 	
		ORDER BY i.create_date	ASC
	</select>
		
	<select id="queryInStockById" parameterType="integer" resultType="InStock">
		SELECT
			i.ID,i.order_id as orderId,i.create_date as createDate, i.modify_date as modifyDate, i.stock,i.number,
			i.remainder_number as remainderNumber,i.WORTH,i.status,i.staff
		FROM 
			IN_STOCK i 
		WHERE 
			i.ID = #{id} 
  	</select>


	<insert id="addInStock" parameterType="InStock" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO 
			IN_STOCK(order_id, create_date,modify_date,stock,number,remainder_number,worth,status,staff)
		VALUES (#{orderId}, #{createDate}, #{modifyDate},  #{stock}, #{number}, #{remainderNumber}, #{worth},#{status},#{staff}) 
  	</insert>


	<delete id="deleteInStockById" parameterType="InStock">
		DELETE FROM 
			IN_STOCK
		WHERE 
			ID=#{id} 
  	</delete>
	
	<update id="logicDeleteInStockById" parameterType="InStock">
		UPDATE 
			IN_STOCK
		SET 
			modify_date = #{modifyDate},
		    status='off'
		WHERE 
			ID=#{id}
  	</update>

	<update id="modifyInStockById" parameterType="InStock">
		UPDATE 
			IN_STOCK
		<set>
			<if test="orderId != null ">
		 		order_id=#{orderId},
		 	</if>
			<if test="modifyDate != null ">
		 		modify_date=#{modifyDate},
		 	</if>
		 	<if test="stock != null ">
		 		STOCK = #{stock},
		 	</if>
		 	<if test="remainderNumber != null ">
		 		remainder_number=#{remainderNumber},
		 	</if>
		 	<if test="staff != null ">
		 		STAFF =#{staff},
		 	</if>
		 	<if test="number != null ">
		 		NUMBER=#{number},
		 	</if>
		 	<if test="worth != null ">
		 		WORTH=#{worth},
		 	</if>
		 	<if test="status != null ">
		 		 status=#{status}
		 	</if>
		</set>   
		WHERE 
			ID=#{id}
  	</update>

</mapper>