<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cao.stock.persistence.StockTotalMapper">

	<!-- cache / -->

	<select id="listInStocks" parameterType="com.cao.stock.domain.QueryParameter" resultType="StockTotal">
		SELECT
			s.id as stock, s.name as stockName,s.specification as stockSpecification,s.unit as stockUnit,sum(i.number) as stockNumber,sum(i.worth*i.number ) as stockWorth, count(*) as number
		FROM
			in_stock i, stock s 
		WHERE
			i.stock=s.id 
		<if test="beginTime!=null ">
	 		<![CDATA[  and i.create_date>= #{beginTime} ]]>
	 	</if>
	 	<if test="endTime!=null ">
	 		<![CDATA[  and  i.create_date<= #{endTime}  ]]>
	 	</if>
	 	 group by s.id
		<if test="start>=0 and limit>=0">
			limit #{start}, #{limit}
		 </if>
	</select>

	<select id="countInStocks" parameterType="com.cao.stock.domain.QueryParameter" resultType="integer">
		select count(*)
		from (
			SELECT
				s.id
			FROM
				in_stock i, stock s 
			WHERE
				i.stock=s.id
			<if test="beginTime!=null ">
			 		<![CDATA[  and i.create_date>= #{beginTime} ]]>
		 	</if>
		 	<if test="endTime!=null ">
		 		<![CDATA[  and  i.create_date<= #{endTime}  ]]>
		 	</if>
		 	group by s.id
			<if test="start>=0 and limit>=0">
				limit #{start}, #{limit}
			</if>
			)
	</select>
	
	<select id="listOutStocks" parameterType="com.cao.stock.domain.QueryParameter" resultType="StockTotal">
		SELECT
			s.id as stock, s.name as stockName,s.specification as stockSpecification,s.unit as stockUnit,sum(i.number) as stockNumber,sum(i.worth) as stockWorth, count(*) as number
		FROM
			out_stock i, stock s 
		WHERE
			i.stock=s.id 
		<if test="beginTime!=null ">
	 		<![CDATA[  and i.create_date>= #{beginTime} ]]>
	 	</if>
	 	<if test="endTime!=null ">
	 		<![CDATA[  and  i.create_date<= #{endTime}  ]]>
	 	</if>
	 	 group by s.id
		<if test="start>=0 and limit>=0">
			limit #{start}, #{limit}
		 </if>
	</select>

	<select id="countOutStocks" parameterType="com.cao.stock.domain.QueryParameter" resultType="integer">
		select count(*)
		from (
			SELECT
				s.id
			FROM
				out_stock i, stock s 
			WHERE
				i.stock=s.id
			<if test="beginTime!=null ">
			 		<![CDATA[  and i.create_date>= #{beginTime} ]]>
		 	</if>
		 	<if test="endTime!=null ">
		 		<![CDATA[  and  i.create_date<= #{endTime}  ]]>
		 	</if>
		 	group by s.id
			<if test="start>=0 and limit>=0">
				limit #{start}, #{limit}
			</if>
			)
	</select>
	
	<select id="listOutStocksByDepartment" parameterType="com.cao.stock.domain.QueryParameter" resultType="StockTotal">
		SELECT
			i.department as department, s.id as stock, s.name as stockName,s.specification as stockSpecification,s.unit as stockUnit,sum(i.number) as stockNumber,sum(i.worth) as stockWorth, count(*) as number
		FROM
			out_stock i, stock s 
		WHERE
			i.stock=s.id 
		<if test="beginTime!=null ">
	 		<![CDATA[  and i.create_date>= #{beginTime} ]]>
	 	</if>
	 	<if test="endTime!=null ">
	 		<![CDATA[  and  i.create_date<= #{endTime}  ]]>
	 	</if>
	 	 group by i.department, s.id
		<if test="start>=0 and limit>=0">
			limit #{start}, #{limit}
		 </if>
	</select>

	<select id="countOutStocksByDepartment" parameterType="com.cao.stock.domain.QueryParameter" resultType="integer">
		select count(*)
		from (
			SELECT
				s.id
			FROM
				out_stock i, stock s 
			WHERE
				i.stock=s.id
			<if test="beginTime!=null ">
			 		<![CDATA[  and i.create_date>= #{beginTime} ]]>
		 	</if>
		 	<if test="endTime!=null ">
		 		<![CDATA[  and  i.create_date<= #{endTime}  ]]>
		 	</if>
		 	group by i.department, s.id
			<if test="start>=0 and limit>=0">
				limit #{start}, #{limit}
			</if>
			)
	</select>
</mapper>