<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cao.stock.persistence.StockMapper">

	<!-- cache / -->

	<select id="listAllStocks" parameterType="com.cao.stock.domain.QueryParameter"  resultType="Stock">
		SELECT
			UID,s.ID,s.NAME,s.CATEGORY,s.NUMBER,s.WORTH,specification,unit
		FROM 
			STOCK s
		WHERE 
			STATUS='normal'
			<if test="minNumber!=null ">
		 		<![CDATA[  and s.NUMBER<= #{minNumber} ]]>
		 	</if>
		 	
		 	<if test="start>=0 and limit>=0">
		 		  limit  #{start}, #{limit}
		 	</if>
	</select>

	<select id="countAllStocks" parameterType="com.cao.stock.domain.QueryParameter"  resultType="integer">
		SELECT
			count(*)
		FROM 
			STOCK s
		WHERE 
			STATUS='normal'
			<if test="minNumber!=null ">
		 		<![CDATA[  and s.NUMBER<= #{minNumber} ]]>
		 	</if>
		 	
		 	<if test="start>=0 and limit>=0">
		 		  limit  #{start}, #{limit}
		 	</if>
	</select>

	<select id="queryStockById" parameterType="integer" resultType="Stock">
		SELECT
			UID,s.ID,s.NAME,s.CATEGORY,s.NUMBER,s.WORTH,specification,unit
		FROM 
			STOCK s
		WHERE  
			STATUS='normal' and s.ID = #{id} 
  	</select>

	<select id="queryStockByUid" parameterType="integer" resultType="Stock">
		SELECT
			UID,s.ID,s.NAME,s.CATEGORY,s.NUMBER,s.WORTH,specification,unit
		FROM 
			STOCK s
		WHERE  
			STATUS='normal' and s.UID = #{uid} 
  	</select>
  	
	<insert id="addStock" parameterType="Stock">
		INSERT INTO 
			STOCK(id,name,category,number,worth,specification,unit,status)
		VALUES (#{id}, #{name}, #{category}, #{number}, #{worth}, #{specification}, #{unit}, #{status}) 
  	</insert>


	<delete id="deleteStockByUid" parameterType="Stock">
		UPDATE 
			STOCK
		SET 
		    status='deleted'
		WHERE UID=#{uid}
  	</delete>

	<update id="modifyStockByUid" parameterType="Stock">
		UPDATE 
			STOCK
		<set>
			<if test="specification != null ">
		 		specification=#{specification},
		 	</if>
		 	<if test="unit != null ">
		 		 unit = #{unit},
		 	</if>
		 	<if test="name != null ">
		 		NAME = #{name},
		 	</if>
		 	<if test="id != null ">
		 		ID=#{id},
		 	</if>
		 	<if test="category != null ">
		 		CATEGORY=#{category},
		 	</if>
		 	<if test="number != null ">
		 		 NUMBER=#{number},
		 	</if>
		 	<if test="worth != null ">
		 		WORTH=#{worth}
		 	</if>
		</set>    
		WHERE UID=#{uid}
  	</update>

	<update id="modifyStockById" parameterType="Stock">
		UPDATE 
			STOCK
		<set>
			<if test="specification != null ">
		 		specification=#{specification},
		 	</if>
		 	<if test="unit != null ">
		 		 unit = #{unit},
		 	</if>
		 	<if test="name != null ">
		 		NAME = #{name},
		 	</if>
		 	<if test="category != null ">
		 		CATEGORY=#{category},
		 	</if>
		 	<if test="number != null ">
		 		 NUMBER=#{number},
		 	</if>
		 	<if test="worth != null ">
		 		WORTH=#{worth}
		 	</if>
		</set>   
		WHERE ID=#{id}
  	</update>
</mapper>